# To backup to git
#!.yaml
#!.gitignore
#!.md
#!.sh
#!js
#!node-red/

###

# To ignore
frigate.db*
notebooks/
custom_components/
zigbee2mqtt/log/
secrets.yaml
.ssh
.storage
.cloud
.google.token
home-assistant.log
home-assistant_v2*
log*.txt
id_rsa*
image/*
www/community/*
zigbee2mqtt/database.db
zigbee2mqtt/state.json
