!.yaml
!.gitignore
!.md
!.sh
!js
!node-red/
notebooks/
esphome/
custom_components/
zigbee2mqtt/log/
secrets.yaml
.ssh
.storage
.cloud
.google.token
home-assistant.log
home-assistant_v2
log*.txt
id_rsa*
frigate.db
image/*
www/community/*

